extends layout

block scripts
    script(src='/javascripts/DataTabs/YoutubeVideoTabs.js')
    script(src='/javascripts/DataTabs/data-tabs.js')

block content
    h1= title
    h1= name
    p Welcome to #{name} view

    #data-tabs

block foot
    p 
        a(href="/") back
