extends layout

block content
    h1= title
    p Welcome to #{title}
    br
    #widgets
      ul widgets:
        li 
          a(href="/widget?name=data-tabs") data-tabs
        li
          a(href="/widget?name=player-panel") player-panel
        li
          a(href="/widget?name=video-container") video-container
    br

block foot
