!!! 5
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/ext-all.css')
    link(rel='stylesheet', href='/resources/css/ymu-ext-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    // Use "ext-debug.js" over "bootstrap.js" for MVC: http://stackoverflow.com/a/6344077/443811
    script(type='text/javascript', src='/ext/ext-all.js')
    block scripts

  body
    div#header
        a(href='http://www.yamaha-motor-university.com') 
            img(src='http://yamaha-motor-university.com/images/Yamaha-Motor-University-logo.jpg')
        a(href='http://www.yamaha-motor-university.com')
            img(src='http://yamaha-motor-university.com/images/Yamaha-Motor-University-headline.jpg')
    
    block content
    block foot
    #footer
      div.footer
        a(href='http://yamaha-motor-university.com') Yamaha Motor University Homepage
        &emsp;|&emsp;
        a(href='http://yamaha-motor-university.mobi') YMU Sales Resources
        &emsp;|&emsp;
        a(href='http://yamaha-motor.com') Yamaha Motor USA
        &emsp;|&emsp;
        a(href='http://yamaha-motor-university.com/RIDE') RIDE
        &emsp;|&emsp;
        //a(href='http://yamaha-motor-university.com/RIDE/training_resources.html') Contact Support
        a(onclick="YMU.Lib.Application.fireEvent('contactsupportrequested',this)", href='javascript:void(0);') Contact Support 
        br 
        br
        &copy;2011 Yamaha Motor Corporation, USA. All rights reserved
    
    script(src='/javascripts/ga.js').
