!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/ext-all-gray.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    script(type='text/javascript', src='/ext/bootstrap.js')
    script(src='/javascripts/DataTabs/YoutubeStore.js')
    script(src='/javascripts/tab/Tab.js')
    block scripts

  body
    block content
    block foot
    #footer
      p copyright 2011
