extends layout

block scripts
    //script(src='/javascripts/View/DataTabs/YoutubeVideoTabs.js')
    //script(src='/javascripts/View/Players/YoutubePlayer.js')
    //script(src='/javascripts/View/Containers/VContainer.js')
    //script(src='/javascripts/View/Containers/HContainer.js')
    //script(src='/javascripts/View/Sliders/SliderPanel.js')
    //script(src='/javascripts/View/Forms/LoginPanel.js')
    //script(src='/javascripts/View/DataTabs/DashboardTabs.js')
    //script(src='/javascripts/Views/#{name}-viewstrap.js')
    script(src='app.js')

block content
    div#content
        div#info
            a(onclick="YMU.Lib.Application.fireEvent('contactsupportrequested',this)", href='javascript:void(0);') Contact Support 
            //h1= title
            //h1= name
            //p Welcome to #{name} viewstrap

        #view-container

block foot
    p.lower-nav 
        a(href="/") back
