// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: false;

// Insert your custom variables here.
$base-color: silver;
$panel-base-color: #CCC;
$border-color: #CCC;

//panel
$panel-header-background-gradient: color-stops(#F0F0F0, #D7D7D7);
$panel-border-color: #D0D0D0;
$panel-header-color: #3A3636;

//tabs
$tab-base-color: #eaeaea;
$tab-color-active: #333333;

$tab-background-gradient: color-stops(#dcdcdc, #eaeaea);
$tab-background-gradient-over: 'tab-over' !default;
$tab-background-gradient-active: color-stops(#ffffff, #eaeaea);
$tab-background-gradient-disabled: 'tab-disabled' !default;

//buttons
$button-default-base-color: #f8f8f8;
$button-default-base-color-over: #f3f3f3;
$button-default-base-color-focus: $button-default-base-color-over;
$button-default-base-color-pressed: #d6d6d6;
$button-default-base-color-disabled: adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%) !default; //F7F7F7

$button-default-border-color: #bbbbbb;
$button-default-border-color-over: #9d9d9d;
$button-default-border-color-focus: $button-default-border-color-over;
$button-default-border-color-pressed: $button-default-border-color-over;
$button-default-border-color-disabled: adjust-color($button-default-base-color-disabled, $hue: 0deg, $saturation: 0%, $lightness: -8.627%) !default;

$button-default-background-gradient: 'matte';
$button-default-background-gradient-over: 'matte';
$button-default-background-gradient-focus: 'matte';
$button-default-background-gradient-pressed: 'matte-reverse';
$button-default-background-gradient-disabled: 'matte';

$button-default-background-gradient-color-stops: null;
$button-default-background-gradient-color-stops-over: null;
$button-default-background-gradient-color-stops-focus: null;
$button-default-background-gradient-color-stops-pressed: null;
$button-default-background-gradient-color-stops-disabled: null;

$slider-panel-content-left-width: 360px;
$frame-border-radius: 10px;
@import 'ext4/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include extjs-boundlist;
@include extjs-button;
@include extjs-btn-group;
@include extjs-datepicker;
@include extjs-colorpicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
    @include extjs-form-field;
    @include extjs-form-fieldset;
    @include extjs-form-file;
    @include extjs-form-checkboxfield;
    @include extjs-form-checkboxgroup;
    @include extjs-form-triggerfield;
    @include extjs-form-htmleditor;
@include extjs-panel;
@include extjs-qtip;
@include extjs-slider;
@include extjs-progress;
@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
@include extjs-tabbar;
@include extjs-tab;
@include extjs-tree;
@include extjs-drawcomponent;
@include extjs-viewport;

@import 'compass';

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true

$shadow-color: #333;
$boxheight: 10em;

// Header Panel
#info {
	text-align: right;
}
#header{
    height:106px;
    img{
	 float:left;
    }
}

// Footer Panel
#footerContainer{
    border:none;
}
#footerContainer div{
    padding-top:0px;
    border:none;
}
#footerContainer .x-panel-body-default{
    background-color:transparent;
}
#footerContainer-body {
    background-color:transparent;
    @include border-radius($boxheight/6);
    @include background-image(linear-gradient(20% 10% , #CCC 0%, rgba(0, 0, 0, 0.1) 100%));
    @include single-box-shadow($shadow-color,0px,0px,5px,1px);
}
.oldie #footerContainer-body {
    background-image: url(../../images/bkg-gradient.png);
    background-repeat: repeat-y;
}

#footerContainer div{
    padding-top:0px;
    border:none;
}
#footerContainer .x-panel-header-text{
    padding-left:20px;
}
#footerContainer .x-panel-header-default-top{
    @include border-top-left-radius($boxheight/6);
    @include border-top-right-radius($boxheight/6);
}
.ymu-footer-col-title{
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 5px;
}
.ymu-footer-col-desc .image-wrap{
    margin-top: 10px;
    text-align:center;
}
.ymu-footer-col4-list{
    font-weight: bold;
}

// Video Panel

.video-item .video-img{
    width:120px;
    float:left;
}
.video-item .video-title{
    margin-left: 120px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.1em;
}
.video-panel-title{
    font-weight: bold;
}
#news .x-panel-body-default{
 //   border:none !important;
 //   border-style: none !important;
}
#videoTab-body{
     top: 0 !important;   
}

// Dashboard Panel
@include extjs-panel-ui(
    'dashboard',
 
    $ui-header-font-size: 12px,
    $ui-header-font-weight: bold,
    $ui-header-color: #0D2A59,
    $ui-header-background-color: #fff,
    $ui-header-background-gradient: gloss ,
 
    $ui-border-color: #fff,
    $ui-border-radius: 30px,
    $ui-body-background-color: silver,
    $ui-body-font-size: 14px
);


#dashboardContainer .x-panel-body-default {
    background-color: transparent;
}
#dashboardContainer-body {
    @include border-radius($boxheight/6);
    @include background-image(linear-gradient(20% 10% , #CCC 0%, rgba(0, 0, 0, 0.1) 100%));
    @include single-box-shadow($shadow-color,0px,0px,5px,1px);
}
#dashboardContainer div{
    border:none;
}
#dashboardContainer .x-panel-header-text{
    padding-left:20px;
}
#dashboardContainer .x-panel-header-default-top{
    @include border-top-left-radius($boxheight/6);
    @include border-top-right-radius($boxheight/6);
}

//Slider Panel
#slider-panel{
    -moz-box-shadow: 5px 0 5px 0px #888;
    -webkit-box-shadow: 5px 0 5px 0px #888;
    box-shadow: 5px 0 5px 0px #888;
    -moz-border-radius-bottomleft:20px; 
    -webkit-border-bottom-left-radius:20px;
    border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright:20px;
    -webkit-border-bottom-right-radius:20px;
    border-radius-bottomright: 20px;
    float:left;
}
#panel-slider{
    height:380px;
    width: 730px;
    position:relative;
    overflow: hidden;
}
.oldie #panel-slider{
    background-image:url(../../images/bkg-gradient.png);
    background-repeat:repeat-y;
}
#panel-container{
    height:380px;
    width: 2920px;
    position:relative;
}

.panel-content{
	height: 360px;
	width: 730px;
	float:left;
	position: relative;

}
.slider-left{
    padding: 10px 0px 0px 10px;
    h1{
        font-size: 1.5em;
        width:$slider-panel-content-left-width;
    }
}

.slider-left p{
    width: $slider-panel-content-left-width;
    padding-top: 10px;
}

.slider-left blockquote{
    text-align: right;
    padding-top: 30px;
    font-family: Times, Times New Roman, Serif;
    font-style: italic;
    width: $slider-panel-content-left-width;
}

#legend{
    position: absolute;
    top: 265px;
    right:30px;
    width: auto;
}

.legend-icon{
    width: 20px;
    height: 20px;
    color: white;
    background-color: black;
    text-align:center;
    vertical-align:middle;
    float:left;
    cursor: pointer;
    -moz-border-radius: 2px ;
    border-radius:  2px;
    margin-left:4px;
    border: 1px outset gray ;
    font-weight:bold;
    padding-top:2px;
}

.legend-icon:hover{
        background-color: #fe030e;
}

.legend-active{
        background-color: #fe030e;
}

#home-right{
	width: 500px;
	height: 350px;
	position:absolute;
	top: 0px;
	left:360px;
        background-image: url(../../images/transparent.png);
        background-repeat:repeat;
	background-color: transparent;
	p{
		float: left;
		margin-left: 33px;
		background-repeat: no-repeat;
	    -moz-border-radius-bottomright:20px;
	    -webkit-border-bottom-right-radius:20px;
	    border-radius-bottomright: 20px; 
	}
}

div#home-right img{

    //margin:10px 30px;

}


#thumb-panel{
        width: 360px;
        height: 380px;
}


#loginPanel{
    float:right;
}
#loginPanel{
    //-moz-box-shadow: 0 0 5px 5px #888;
    //-webkit-box-shadow: 0 0 5px 5px#888;
    padding:10px 0 0 10px;
    -moz-border-radius-bottomleft:20px;
    -webkit-border-bottom-left-radius:20px;
    border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright:20px;
    -webkit-border-bottom-right-radius:20px;
    border-radius-bottomright: 20px; 
    fieldset{
        padding-top: 10px;
        border:none;
    }
}
.oldie #loginPanel{
    background-image:url(../../images/bkg-gradient.png);
    background-repeat:repeat-y;
    background-position:right top;
}
.ie7 #loginPanel{
    left: 720px !important;
    height:278px !important;
}
#loginButton{
  //  background-color:orange !important;
}
#loginButton:hover{
    background-color:silver !important;
    @include background-gradient(#CCC, $type: glossy-button, $direction: top); 
}

.ie7 #loginButton:hover{
    @include background-gradient(#CCC, $type: glossy-button, $direction: top); 
    //@include background-image(linear-gradient(20% 10% , #CCC 0%, rgba(0, 0, 0, 0.1) 100%));
}

#dashboardContainer .x-tab-bar-top .x-tab-bar-body-default-plain{
    left: -2px;
    padding: 0px;
    padding-top: 2px;
}
#dashboardContainer .x-tab-bar-strip{
    background-color:$border-color;
    height: 0px;
}
#dashboardSalesGrid{
    @include border-top-left-radius(0);
    @include border-bottom-radius($boxheight/6);
    padding: 5px;
    background-color: white;
}
#authenticatedContainer-body{
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
}
#form-buttons{
  margin: 0 auto !important;
}
#ypa, #yta{
    @include border-top-left-radius(0);
    @include border-bottom-radius($boxheight/6);
    padding: 5px;
    background-color: white;
}

.contact-support{
  display:inline;
  text-decoration:underline;
  color: #00529B;
  
  &:hover{
    cursor:pointer;
  }
}

.contact-support-footer{
  margin: 0 auto !important;
}
#create-account-panel{
    @include border-radius(10px);
   .x-panel-header-text-container{
   }
 }
#signup-graphic {
    margin: 0 0 0 10px;
    float: left;
}
#formPanel{
   
    background-color:white; 
}
.contact-support-body{
    background-color:white;
}
