// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: false;

// Insert your custom variables here.
$base-color: #03529d;
$panel-base-color: #031BD1;
$border-color: #0367C5;
$panel-header-color: white;
$tab-base-color: white;
$slider-panel-content-left-width: 360px;
$frame-border-radius: 10px;
$panel-body-background-color: white;
//$window-background-color:white;
$panel-frame-background-color:white;
//$panel-border-radius: 15px;
$panel-frame-border-style:none;

@import 'ext4/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include extjs-boundlist;
@include extjs-button;
@include extjs-btn-group;
@include extjs-datepicker;
@include extjs-colorpicker;
//@include extjs-menu;
@include extjs-grid;
@include extjs-form;
    @include extjs-form-field;
    @include extjs-form-fieldset;
    //@include extjs-form-file;
    @include extjs-form-checkboxfield;
    @include extjs-form-checkboxgroup;
    @include extjs-form-triggerfield;
    //@include extjs-form-htmleditor;
@include extjs-panel;
@include extjs-qtip;
//@include extjs-slider;
@include extjs-progress;
//@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
@include extjs-tabbar;
@include extjs-tab;
//@include extjs-tree;
@include extjs-drawcomponent;
@include extjs-viewport;

@import 'compass';

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true

$shadow-color: #333;
$boxheight: 10em;

// Header Panel
#info {
	text-align: right;
}

// Footer Panel

#footerContainer {
//    @include border-radius($boxheight/6);
//    background-color:orange;
}
#footerContainer{
    border:none;
}
#footerContainer-body{
//    margin-top: 10px;
}
#footerContainer div{
    padding-top:0px;
    border:none;
}
#footerContainer .x-panel-body-default {
    background-color: transparent;
}
#footerContainer-body {
    @include border-radius($boxheight/6);
    @include background-image(linear-gradient(20% 10% , #CCC 0%, rgba(0, 0, 0, 0.1) 100%));
    @include single-box-shadow($shadow-color,0px,0px,5px,1px);
}
#footerContainer div{
    padding-top:0px;
    border:none;
}
#footerContainer .x-panel-header-text{
    padding-left:20px;
}
#footerContainer .x-panel-header-default-top{
    @include border-top-left-radius($boxheight/6);
    @include border-top-right-radius($boxheight/6);
}
.ymu-footer-col-title{
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 5px;
}
.ymu-footer-col-desc .image-wrap{
    margin-top: 10px;
    text-align:center;
}
.ymu-footer-col4-list{
    font-weight: bold;
}

// Video Panel

.video-item .video-img{
    width:120px;
    float:left;
}
.video-item .video-title{
    margin-left: 120px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

// Dashboard Panel

#dashboardContainer .x-panel-body-default {
    background-color: transparent;
}
#dashboardContainer-body {
    @include border-radius($boxheight/6);
    @include background-image(linear-gradient(20% 10% , #CCC 0%, rgba(0, 0, 0, 0.1) 100%));
    @include single-box-shadow($shadow-color,0px,0px,5px,1px);
}
#dashboardContainer div{
    border:none;
}
#dashboardContainer .x-panel-header-text{
    padding-left:20px;
}
#dashboardContainer .x-panel-header-default-top{
    @include border-top-left-radius($boxheight/6);
    @include border-top-right-radius($boxheight/6);
}

//Slider Panel
#slider-panel{
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
    -moz-border-radius-bottomleft:20px; 
    -webkit-border-bottom-left-radius:20px;
    border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright:20px;
    -webkit-border-bottom-right-radius:20px;
    border-radius-bottomright: 20px;
    float:left;
}
#login-panel{
    float:right;
}
#panel-slider{
    height:380px;
    width: 730px;
    position:relative;
    overflow: hidden;
}
#panel-container{
    height:380px;
    width: 2920px;
    position:relative;
}

.panel-content{
	height: 360px;
	width: 730px;
	float:left;
	position: relative;

}
.slider-left{
    padding: 10px 0px 0px 10px;
    h1{
        font-size: 1.5em;
        width:$slider-panel-content-left-width;
    }
}

.slider-left p{
    width: $slider-panel-content-left-width;
    padding-top: 10px;
}

.slider-left blockquote{
    text-align: right;
    padding-top: 30px;
    font-family: Times, Times New Roman, Serif;
    font-style: italic;
    width: $slider-panel-content-left-width;
}

#legend{
    position: absolute;
    top: 265px;
    right:30px;
    width: auto;
}

.legend-icon{
    width: 20px;
    height: 20px;
    color: white;
    background-color: black;
    text-align:center;
    vertical-align:middle;
    float:left;
    cursor: pointer;
    -moz-border-radius: 5px ;
    border-radius:  5px;
    margin-left:5px;
    border: 20px outset blue ;
    font-weight:bold;
    padding-top:3px;
}

.legend-icon:hover{
        background-color: #fe030e;
}

.legend-active{
        background-color: #fe030e;
}

#home-right{
	width: 500px;
	height: 350px;
	position:absolute;
	top: 0px;
	left:360px;
        background-image: url(../images/transparent.png);
        background-repeat:repeat;
	background-color: transparent;
	
}

div#home-right img{

    margin:10px 30px;

}


#thumb-panel{
        width: 360px;
        height: 380px;
}


#login-panel{
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    -moz-border-radius-bottomleft:20px;
    -webkit-border-bottom-left-radius:20px;
    border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright:20px;
    -webkit-border-bottom-right-radius:20px;
    border-radius-bottomright: 20px; 
}
#dashboardContainer .x-tab-bar-top .x-tab-bar-body-default-plain{
    left: -2px;
    padding: 0px;
    padding-top: 2px;
}
#dashboardContainer .x-tab-bar-strip{
    background-color:$border-color;
    height: 0px;
}
#dashboardSalesGrid{
    @include border-top-left-radius(0);
    @include border-bottom-radius($boxheight/6);
    padding: 5px;
    background-color: white;
}
#authenticatedContainer-body{
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
}
#form-buttons{
  margin: 0 auto !important;
}
#ypa, #yta{
    @include border-top-left-radius(0);
    @include border-bottom-radius($boxheight/6);
    padding: 5px;
    background-color: white;
}

.contact-support{
  display:inline;
  text-decoration:underline;
  color: #00529B;
  
  &:hover{
    cursor:pointer;
  }
}

.contact-support-footer{
  margin: 0 auto !important;
}
#create-account-panel{
    @include border-radius(10px);
   .x-panel-header-text-container{
   }
 }
#signup-graphic {
    margin: 0 0 0 10px;
    float: left;
}
#formPanel{
   
    background-color:white; 
}
.contact-support-body{
    background-color:white;
}
